body {
    font-family: 'Balsamiq Sans', sans-serif;
    background: #ECF87F;
    text-align: center;
    margin: 0;
    padding: 30px;
    font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Grandstander', cursive;
    font-weight: 700;
    font-size: 40px;
}

#quiz-container {
    max-width: 600px;
    margin: 0 auto;
}

.hidden {
    display: none;
}

button {
    font-family: 'Balsamiq Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    padding: 15px;
    background-color: #85D2D0;
    color: black;
    border: 3px solid #887BB0;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    width: 200px;
    transition-duration: 0.4s;
}

    button:hover {
        background-color: #887BB0;
        color: ghostwhite;
    }

#progress-bar {
    height: 100%;
    width: 0%;
    background-color: #887BB0 !important;
    transition: width 0.3s ease-in-out;
    border-radius: 999px;
}

#question-text {
    font-size: 20px;
    padding: 5px;
    margin-bottom: 20px;
    white-space: pre-line;
}

.answer-button {
    font-family: 'Balsamiq Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    padding: 15px;
    background-color: #85D2D0;
    color: black;
    border: 3px solid #887BB0;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    width: 100%;
}

    .answer-button:hover {
        background-color: #887BB0;
        color: ghostwhite;
    }
