/* Base styles for desktop */
body {
    font-family: 'Balsamiq Sans', sans-serif;
    background: #ECF87F;
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 20px;
}

.footer {
    font-family: 'Balsamiq Sans', sans-serif;
    background: #ECF87F;
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 14px;
    color: #887BB0;
}

a {
    color: #887BB0; /* Link color */
    text-decoration: none; /* Removes underline */
    font-weight: 700; /* Makes the link bold */
    transition: color 0.3s ease; /* Smooth transition for hover effect */
}

    /* Hover Effect */
    a:hover {
        color: #E4A58F; /* Change link color when hovered */
        text-decoration: underline; /* Add underline on hover */
    }

    /* Active Link Style (when clicked) */
    a:active {
        color: #E4A58F; /* Color when the link is clicked */
    }

.hidden {
    display: none;
}

.highlighted-text {
    color: #887BB0;
    font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Grandstander', cursive;
    font-weight: 700;
    font-size: 40px;
}

#quiz-container {
    max-width: 800px;
    margin: 0 auto;
}

#result-container {
    max-width: 600px;
    margin: 0 auto;
}

#all-results-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
    justify-content: center;
}

#question-image {
    width: 475px;
    height: auto;
    margin-bottom: 20px;
}

button {
    font-family: 'Balsamiq Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    padding: 15px;
    background-color: #85D2D0;
    color: black;
    border: 3px solid #887BB0;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    width: 200px;
    transition-duration: 0.4s;
}

    button:hover {
        background-color: #887BB0;
        color: ghostwhite;
    }

#progress-bar-container {
    width: 100%;
    background-color: #E4A58F;
    height: 15px;
    position: relative;
    border: none;
    margin-bottom: 20px;
    border-radius: 999px;
    overflow: hidden;
}

#progress-bar {
    height: 100%;
    width: 0%;
    background-color: #887BB0 !important;
    transition: width 0.3s ease-in-out;
    border-radius: 999px;
}

#question-text {
    font-size: 20px;
    padding: 5px;
    margin-bottom: 20px;
    white-space: pre-line;
}

.answer-button {
    font-family: 'Balsamiq Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    padding: 17px;
    background-color: #85D2D0;
    color: black;
    border: 3px solid #887BB0;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    width: 100%;
}

    .answer-button:hover {
        background-color: #887BB0;
        color: ghostwhite;
    }

.short-answer-input {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    font-family: 'Balsamiq Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    border: 2px solid #E4A58F;
    border-radius: 8px;
}



/* Reduce font-size for smaller screens */
@media (max-width: 768px) {
    body {
        font-size: 16px;
    }

    .footer {
        font-size: 12px;
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: 32px;
    }

    button {
        font-size: 16px;
        padding: 15px;
        width: auto;
    }

    #quiz-container {
        max-width: 90%;
    }

    #result-container {
        max-width: 90%;
    }

    #all-results-container {
        max-width: 90%;
    }

    #question-image {
        width: 100%;
        height: fit-content;
        margin-bottom: 20px;
    }

    .answer-button {
        font-size: 16px;
        padding: 14px;
        width: 100%;
    }

    .short-answer-input {
        width: 100%;
        padding: 15px;
    }

    #question-text {
        font-size: 18px;
    }

    #progress-bar-container {
        height: 14px;
    }

    #progress-bar {
        height: 100%;
    }
}

/* Further adjustments for even smaller screens (mobile phones) */
@media (max-width: 480px) {
    body {
        font-size: 15px;
    }

    .footer {
        font-size: 11px;
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: 28px;
    }

    button {
        font-size: 15px;
        padding: 12px;
        width: auto;
    }

    #quiz-container {
        max-width: 90%;
    }

    #result-container {
        max-width: 90%;
    }

    #all-results-container {
        max-width: 90%;
    }

    #question-image {
        width: 100%;
        height: fit-content;
        margin-bottom: 20px;
    }

    .answer-button {
        font-size: 15px;
        padding: 13px;
        width: 100%;
    }

    .short-answer-input {
        width: 100%;
        padding: 12px;
    }

    #question-text {
        font-size: 15px;
    }

    #progress-bar-container {
        height: 12px;
    }
}